fastapi[standard]
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic-settings
python-dotenv
anthropic
langchain
langchain-anthropic
langchain-core
langgraph
httpx
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles
eval_type_backport
google-api-python-client 
google-auth 
google-auth-httplib2 
google-auth-oauthlib
